<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.convenitent.framework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- for getting mac address -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application>

        <!--<service android:name=".update.UpdateService"/>-->

        <!--<provider-->
            <!--android:authorities="com.superdoctor.show.fileprovider"-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:grantUriPermissions="true"-->
            <!--android:exported="false">-->
            <!--<meta-data android:name="android.support.FILE_PROVIDER_PATHS"-->
                       <!--android:resource="@xml/file_paths"/>-->
        <!--</provider>-->

        <activity android:name=".activity.SupportFragmentActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden|navigation"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
